#fig1, #pic1, #fig2, #pic2, #fig3, #pic3	{
width : 320px;
height : 240px;
float : right;
}

#fig1, #fig2, #fig3 	{
clear: both;
}
	
article{
overflow: auto;
}

aside{
	float: right;
	align : fixed;
}

footer{
	color : #fff;
	text-align : center;
	background: #000;	
	clear : both;
}