/*mobile*/
@media screen and (max-width: 480px) {
	#FlexBody {
		display : flex;
		flex-direction: column;
	}
	
	#FlexHeader {
		display : flex;
		flex-direction: column;
	}
	
	#Logo {
		display : none;
	}
	
	#VidFig {
		display : none;
	}
	
	#H2Head {
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#hamburger:checked ~ ul{
        display: block;
    }
	
	#hamburger{
        display: none;
    }

    #burgericon{
        position: absolute;
        top: 35px;
        right: 45px;
        transform: scale(2);
    }

    ul{
        display: none;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px #000000 solid;
        border-top: 1px #000000 solid;
    }

    ul a:link{
        color:black;
        text-decoration: none;
    }

    ul a:visited{
        color:black;
        text-decoration: none;
    }

    ul a:hover{
        color:black;
        text-decoration: none;
    }

    ul a:active{
        color:black;
        text-decoration: none;
    }
	
	video{ 
		display : none;
	}
	
	#OlAside {
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	article {
		display : flex;
		flex-direction: column;
	}
	
	#FlexSec1 {
		order : 2;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#FlexSec2  {
		order : 1;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#FlexSec3 {
		order : 0;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	footer {		
		order : 3;
	}
	
	#Footer1 {
		padding-top : 60px;
	}
	
	#Footer2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
	#pic1, #pic2, #pic3 {
		width : 100%;
		height : auto;
	}
	
/* Eind mobiel index*/

	.GridSec1 {
		display : grid;
		grid-template-columns : 60%;
		padding : 5px;
	}
	
	.GridAside {
		grid-row-start : 4;
		grid-row-end : 5;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#GridLogo {
		display : none;
	}
	
	#Art1 {
		order : 4;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#Art2 {
		order : 3;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#Art3 {
		order : 2;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#Art4 {
		order : 1;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#Art5 {
		order : 0;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#Art6 {
		display : none;
	}
	
	#GridFooter1 {
		padding-top : 60px;
		border-top : 1px solid;
	}
	
	#GridFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
	#GridPic1, #GridPic2, #GridPic3 {
		width : 100%;
		height : auto;
	}
	/* eusolar */
	
	#EuLogo {
		display : none;
	}
	
	.TH2011, .TH2012, .TH2013, .TH2014, .TH2015 {
		display : none;
	}
	
	.TH2011, .TH2013, .TH2015, .TH2017 {
		background-color : #DDDDDD
	}
	
	.TH2012, .TH2014, .TH2016, .TH2018 {
		
	}
	
	.Hcolor {
		background-color : #BEFFFA
	}
	
	#EuFooter1 {
		padding-top : 60px;
	}
	
	#EuFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
}
	
/*tablet*/
@media screen and (min-width: 481px) and (max-width: 1179px) {
	#FlexBody {
		display : flex;
		flex-direction: column;
	}
	
	#FlexHeader {
		display : flex;
		flex-direction: column;
	}
	
	#Logo {
		width : 55%;
		height : 55%;
	}
		
	#H2Head {
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#burgericon, #hamburger {
		display : none;
	}
	
	#UlNav {
		display : flex;
	}
	
	#LiLink1, #LiLink2, #LiLink3 {
		padding-right : 85px;
	}
	
	video{
		width : 100%;
		height : auto;
	}
	
	#pic1, #pic2, #pic3 {
		width : 20%;
		height : auto;
		display : flex;
		align-items: left;
		justify-content: left;	
		clear : both;
		flex-direction: column;
	}
	
	#FlexSec1 {
		order : 2;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#FlexSec2  {
		order : 1;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#FlexSec3 {
		order : 0;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	PFlex {
		display : flex;
		width : 75%;
		align-items: right;
		justify-content : right;
		text-align: left;
		float : right;
		flex-direction: column;
	}
	
	#Link1 {
		display : flex;
		align-items: right;
		justify-content : right;
		flex-direction: column;
	}
	
	footer {
		order : 3;
	}
	
	#Footer1 {
		padding-top : 60px;
	}
	
	#Footer2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
/*Eind index*/ 

	.GridSec1 {
		display: grid;
		grid-column-gap: 10px;
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 3;
		width: 100%;
	}
	
	#GridNav {
		border-top : 1px solid;
		border-bottom: 1px solid;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	
	#Art1 {
		grid-row-start: 3;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#Art2 {
		grid-row-start: 3;
		grid-row-end: 6;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#Art3 {
		grid-row-start: 5;
		grid-row-end: 9;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#Art4 {
		display : none;
	}
	
	#Art5 {
		grid-row-start: 6;
		grid-row-end: 9;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#Art6 {
		grid-row-start: 9;
		grid-row-end: 11;
		grid-column-start: 1;
		grid-column-end: 3;
		border-bottom : 1px solid;
		padding-bottom : 5px;
		margin-bottom : 40px;
	}
	
	#GridLogo {
		width : 55%;
		height : 55%;
	}
	
	.GridAside {
		display : grid;
	}
		
	#GridFig1 {
		grid-column-start: 1;
		grid-column-end: 2;
		width: 20%;
	}
	
	#GridFig2 {
		grid-column-start: 3;
		grid-column-end: 4;
		width: 20%;
	}
	
	#GridPic1, #GridPic2 {
		width : 100%;
		height : auto;
	}
	
	#GridPic3, #GridFig3 {
		display : none;
	}
	
	#GridFooter1 {
		padding-top : 60px;
		border-top : 1px solid;
	}
	
	#GridFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
}
/*desktop*/
@media screen and (min-width: 1280px) {
	#FlexBody {
		display : flex;
		flex-direction: column;
	}
	
	#FlexHeader {
		display : flex;
		flex-direction: column;
	}
	
	#Logo {
		width : 55%;
		height : 55%;
	}
	
	#H1Head, #H2Head {
		display : flex;
		padding-left : 20px;
	}
	
	#H2Head {
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#burgericon, #hamburger {
		display : none;
	}
	
	video{
		width : 100%;
		height : auto;
		order: 0;
	}
	
	#pic1 {
		width : 110%;
		height : auto;
		display : flex;
		align-items: right;
		justify-content: right;	
		float : right;
		clear : both;
	}
	
	#pic2 {
		width : 100%;
		height : auto;
		display : flex;
		align-items: left;
		justify-content: left;	
		clear : both;
		flex-direction: column;
	}
	
	#pic3 {
		width : 100%;
		height : auto;
		align-items: left;
		justify-content: left;
		clear : both;
		display : flex;
		flex-direction: column;
	}
		
	
		
	#FlexAsi {
		display : flex;
	}
	
	#FlexSec1 {
		display : flex;
		flex-direction : column;
		order : 2;
		border-bottom : 1px solid;
		padding-bottom : 5px;
		width : 75%;
	}
	
	#FlexSec2  {
		display : flex;
		flex-direction : column;
		order : 3;
		border-bottom : 1px solid;
		padding-bottom : 5px;
		width : 75%;
	}
	
	#FlexSec3 {
		display : flex;
		flex-direction : column;
		order : 4;
		border-bottom : 1px solid;
		padding-bottom : 5px;
		width : 75%;
	}
	
	#ArtPro1, #ArtPro2, #ArtPro3 {
		display : flex;
	}
	
	
	
	footer {
		order : 5;
	}
	
	#Footer1 {
		padding-top : 60px;
	}
	
	#Footer2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 25%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
/*Eind index*/

	#GridLogo {
		width : 55%;
		height : 55%;
	}
	
	#GridNav {
		border-top : 1px solid;
		border-bottom: 1px solid;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	
	.GridSec1 {
	    display: grid;
		grid-template-columns: 33%;
		grid-column-gap: 10px;
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 4;
		width: 100%;
	}
	
	#Art4 {
		grid-row-start : 3;
		grid-row-end : 9;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#Art2 {
		grid-row-start : 3;
		grid-row-end : 6;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#Art3 {
		grid-row-start : 3;
		grid-row-end : 6;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	#Art1 {
		grid-row-start: 6;
		grid-row-end: 10;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	#Art5 {
		grid-row-start: 6;
		grid-row-end: 9;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#Art6 {
		grid-row-start: 9;
		grid-row-end: 10;
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	.GridAside {
		display : grid;
		grid-template-columns: 33%;
		grid-row-start: 10;
		grid-row-end: 11;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	#GridFig1 {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#GridFig2 {
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#GridFig3 {
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	
	#GridPic1, #GridPic2, #GridPic3 {
		width : 100%
	}
	
	#GridFooter1 {
		padding-top : 60px;
		border-top : 1px solid;
	}
	
	#GridFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
}