@font-face {
    font-family: "notableregular";
    src: url("css/fonts/Notable-Regular") format("ttf");
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: normal;
	line-height: normal;
	word-spacing: normal;
}

li {
	padding-top : 10px;
}

.ConLabel {
	padding : 15px;
	padding-left : 0px;
}

fieldset {
	border-color : #E52525; 
	border-style : double;
	border-width : 2px;
}

/*mobile*/
@media screen and (max-width: 480px) {
	#FlexBody {
		display : flex;
		flex-direction: column;
	}
	
	#FlexHeader {
		display : flex;
		flex-direction: column;
	}
	
	#Logo {
		display : none;
	}
	
	#VidFig {
		display : none;
	}
	
	#H2Head {
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#hamburger:checked ~ ul{
        display: block;
    }
	
	#hamburger{
        display: none;
    }

    #burgericon{
        position: absolute;
        top: 35px;
        right: 45px;
        transform: scale(2);
    }

    ul{
        display: none;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px #000000 solid;
        border-top: 1px #000000 solid;
    }

    ul a:link{
        color:black;
        text-decoration: none;
    }

    ul a:visited{
        color:black;
        text-decoration: none;
    }

    ul a:hover{
        color:black;
        text-decoration: none;
    }

    ul a:active{
        color:black;
        text-decoration: none;
    }
	
	video{ 
		display : none;
	}
	
	#OlAside {
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#FlexAll {
		display : flex;
		order : 0;
	}
	
	#FlexAllArtSec {
		display : flex;
		flex-direction: column;
		order: 1;
	}
	
	#FlexArticleOnly {
		display : flex;
		flex-direction : column;
		order: 2;
	}
	
	#FlexSecAsi {
		order : 0;
	}
	
	#FlexSec1 {
		order : 3;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#FlexSec2  {
		order : 2;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#FlexSec3 {
		order : 1;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	footer {		
		order : 4;
	}
	
	
	#fig1 {
		width: auto;
	}
	
	#PFlex {
		text-align : center;
		display : block;
	}
	
	#Footer1 {
		padding-top : 60px;
	}
	
	#Footer2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
	#pic1, #pic2, #pic3 {
		width : 100%;
		height : auto;
	}
	
/* Eind mobiel index*/

	.GridSec1 {
		display : grid;
		grid-template-columns : 60%;
		padding : 5px;
	}
	
	.GridAside {
		grid-row-start : 4;
		grid-row-end : 5;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#GridLogo {
		display : none;
	}
	
	#Art1 {
		order : 4;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#Art2 {
		order : 3;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#Art3 {
		order : 2;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#Art4 {
		display : none;
	}
	
	#Art5 {
		order : 0;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#Art6 {
		display : none;
	}
	
	#GridFooter1 {
		padding-top : 60px;
		border-top : 1px solid;
	}
	
	#GridFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
	#GridPic1, #GridPic2, #GridPic3 {
		width : 100%;
		height : auto;
	}
	/* eusolar */
	
	#EuLogo {
		display : none;
	}
	
	.TH2011, .TH2012, .TH2013, .TH2014, .TH2015 {
		display : none;
	}
	
	.TH2011, .TH2013, .TH2015, .TH2017 {
		background-color : #DDDDDD
	}
	
	.TH2012, .TH2014, .TH2016, .TH2018 {
		
	}
	
	.Hcolor {
		background-color : #BEFFFA
	}
	
	#EuPic1, #EuPic2, #EuPic3 {
		width : 100% 
	}
	
	#EuFooter1 {
		padding-top : 60px;
	}
	
	#EuFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
	/* einde eusolar */
	
	#ConPic1, #ConPic2, #ConPic3 {
		width : 100%;
		height : auto;
	}
	
	#ConField {
		display : grid;
	}
	
	#Submit {
		margin-top : 15px;
	}
	
	
	#ConLogo {
		display : none;
	}
	
	#ConEmail {
		margin-bottom : 60px;
	}
	
	#ConFooter1 {
		padding-top : 60px;
	}
	
	#ConFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
}
	
/*tablet*/
@media screen and (min-width: 481px) and (max-width: 1179px) {
	#FlexBody {
		display : flex;
		flex-direction: column;
	}
	
	#FlexHeader {
		display : flex;
		flex-direction: column;
	}
	
	#Logo {
		width : 55%;
		height : 55%;
	}
		
	#H2Head {
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#burgericon, #hamburger {
		display : none;
	}
	
	#UlNav {
		display : flex;
	}
	
	#LiLink1, #LiLink2, #LiLink3 {
		padding-right : 85px;
	}
	
	video{
		width : 100%;
		height : auto;
	}
	
	#pic1, #pic2, #pic3 {
		width : 20%;
		height : auto;
		display : flex;
		align-items: left;
		justify-content: left;	
		clear : both;
		flex-direction: column;
	}
	
	#FlexAll {
		display : flex;
		flex-direction : column-reverse;
		order : 0;
	}
	
	#FlexAllArtSec {
		display : flex;
		flex-direction: column;
		order: 1;
	}
	
	#FlexArticleOnly {
		display : flex;
		flex-direction : column;
		order: 3;
	}
	
	#FlexSecAsi {
		order : 0;
	}
	
	#FlexVid {
		order : 6;
	}
	
	#FlexSec1 {
		order : 3;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#FlexSec2  {
		order : 2;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#FlexSec3 {
		order : 1;
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#fig1, #fig2, #fig3 {
		display : flex;
		flex-direction : column;
	}
	
	#pic1, #pic2, #pic3 {
		width : 65%;
		float : left;
	}
	
	.PFlex {
		order: 1;
		width: 70%;
		float: right;
	}
	
	#PFlex {
		display : flex;
		width : 75%;
		align-items: right;
		justify-content : right;
		text-align: left;
		float : right;
		flex-direction: column;
	}
	
	
	
	footer {
		order : 3;
	}
	
	#Footer1 {
		padding-top : 60px;
	}
	
	#Footer2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
/*Eind index*/ 

	.GridSec1 {
		display: grid;
		grid-column-gap: 10px;
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 3;
		width: 100%;
	}
	
	#HowUL {
		display : grid;
		grid-template-columns : 33%;
		border-bottom : 1px solid;
		padding-bottom : 20px;
	}
	
	#HowLI1 {
		grid-column-start : 1;
		grid-column-end : 2;
	}
	
	#HowLI2 {
		grid-column-start : 2;
		grid-column-end : 3;
	}
	
	#HowLI3 {
		grid-column-start : 3;
		grid-column-end : 4;
	}
	
	#Art1 {
		grid-row-start: 3;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#Art2 {
		grid-row-start: 3;
		grid-row-end: 6;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#Art3 {
		grid-row-start: 5;
		grid-row-end: 9;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#Art4 {
		display : none;
	}
	
	#Art5 {
		grid-row-start: 6;
		grid-row-end: 9;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#Art6 {
		grid-row-start: 9;
		grid-row-end: 11;
		grid-column-start: 1;
		grid-column-end: 3;
		border-bottom : 1px solid;
		padding-bottom : 5px;
		margin-bottom : 40px;
	}
	
	#GridLogo {
		width : 55%;
		height : 55%;
	}
	
	#GridAside {
		display : grid;
		grid-template-columns : 50%;
	}
		
	#GridFig1 {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#GridFig2 {
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#GridPic1, #GridPic2 {
		width : 100%;
		height : auto;
	}
	
	#GridPic3, #GridFig3 {
		display : none;
	}
	
	#GridFooter1 {
		padding-top : 60px;
		border-top : 1px solid;
	}
	
	#GridFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	/* einde howsolarworks */
	
		
	
	#EuLogo {
		width: 25%;
		height : 25%;
	}
	
	#EuUL {
		display : grid;
		grid-template-columns : 33%;
		border-bottom : 1px solid;
		padding-bottom : 20px;
	}
	
	#EuLI1 {
		grid-column-start : 1;
		grid-column-end : 2;
	}
	
	#EuLI2 {
		grid-column-start : 2;
		grid-column-end : 3;
	}
	
	#EuLI3 {
		grid-column-start : 3;
		grid-column-end : 4;
	}
	
	.TH2011, .TH2012, .TH2013 {
		display : none;
	}
	
	.TH2011, .TH2013, .TH2015, .TH2017 {
		background-color : #DDDDDD
	}
	
	.TH2012, .TH2014, .TH2016, .TH2018 {
		
	}
	
	.Hcolor {
		background-color : #BEFFFA
	}
	
	#EuAside {
		display : grid;
		grid-template-columns: 50%;
	}
	
	#EuFig2{
		grid-column-start: 1;
		grid-column-end: 2;
	}

	#EuFig3{
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#EuPic2, #EuPic3 {
		width : 100%
	}
	
	#EuFig1 {
		display : none;
	}
	
	#EuFooter1 {
		padding-top : 60px;
		border-top : 1px solid;
	}
	
	#EuFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
	/* Einde Eusolar */
	
	#ConLogo {
		width : 25%;
		height : 25%;
	}
	
	#ConPic1, #ConPic2, #ConPic3 {
		width : 100%;
		height : auto;
	}
	
	#ConField {
		display : grid;
	}
	
	#Submit {
		margin-top : 15px;
	}
	
	#ConSecAll {
		display : grid;
		grid-template-columns : 50%;
		grid-gap : 35px;
	}
	
	#ConSecField {
		grid-column-start : 1;
		grid-column-end : 2;
	}
	
	#ConAside {
		grid-column-start : 2;
		grid-column-end : 3;
	}
	
	#ConUL {
		display : grid;
		grid-template-columns : 33%;
		border-bottom : 1px solid;
		padding-bottom : 20px;
	}
	
	#ConLI1 {
		grid-column-start : 1;
		grid-column-end : 2;
	}
	
	#ConLI2 {
		grid-column-start : 2;
		grid-column-end : 3;
	}
	
	#ConLI3 {
		grid-column-start : 3;
		grid-column-end : 4;
	}
	
	#ConEmail {
		margin-bottom : 60px;
	}
	
	#ConFooter1 {
		padding-top : 60px;
	}
	
	#ConFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	/* Eind Contact */
}
/*desktop*/
@media screen and (min-width: 1280px) {
	#FlexBody {
		display : flex;
		flex-direction: column;
	}
	
	#FlexHeader {
		display : flex;
		flex-direction: column;
	}
	
	#Logo {
		width : 25%;
		height : 25%;
	}
	
	#UlNav {
		display : flex;
		border-bottom : 1px solid;
		padding-bottom : 20px;
	}
	
	#LiLink1, #LiLink2, #LiLink3 {
		padding-right : 85px;
	}
	
	#H1Head, #H2Head {
		display : flex;
		padding-left : 20px;
	}
	
	#H2Head {
		border-bottom : 1px solid;
		padding-bottom : 5px;
	}
	
	#burgericon, #hamburger {
		display : none;
	}
	
	video{
		width : 100%;
		height : auto;
		order: 0;
	}
	
	#fig1, #fig2, #fig3 {
		display : flex;
		flex-direction : column;
	}
	
	#pic1, #pic2, #pic3 {
		width : 65%;
		float : right;
	}
	
	.PFlex {
		order: 1;
		width: 70%;
		float: left;
	}
		
	#FlexAll {
		display : flex;
		flex-direction : column;
	}
	
	#FlexAsi {
		display : block;
	}
		
	#FlexSecAsi {
		flex-grow: 1;
		flex-shrink : 1;
		flex-basis : 0%;
	}
	
	#FlexAllArtSec {
		display : flex;
		flex-grow : 2;
		flex-shrink : 1;
		flex-basis : 0%;
	}
	
	#FlexArticleOnly {
		display : flex;
		flex-direction : column;
	}
	
	#FlexSec1 {
		display : flex;
		flex-direction : column;
	}
	
	#FlexSec2  {
		display : flex;
		flex-direction : column;
	}
	
	#FlexSec3 {
		display : flex;
		flex-direction : column;
	}
	
	footer {
		order : 5;
	}
	
	#Footer1 {
		padding-top : 60px;
	}
	
	#Footer2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 25%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
/*Eind index*/

	#GridLogo {
		width : 25%;
		height : 25%;
	}
	
	#HowUL {
		display : grid;
		grid-template-columns : 33%;
		border-bottom : 1px solid;
		padding-bottom : 20px;
	}
	
	#HowLI1 {
		grid-column-start : 1;
		grid-column-end : 2;
	}
	
	#HowLI2 {
		grid-column-start : 2;
		grid-column-end : 3;
	}
	
	#HowLI3 {
		grid-column-start : 3;
		grid-column-end : 4;
	}
	
	.GridSec1 {
	    display: grid;
		grid-template-columns: 33%;
		grid-column-gap: 10px;
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 4;
		width: 100%;
	}
	
	#Art4 {
		grid-row-start : 3;
		grid-row-end : 9;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#Art2 {
		grid-row-start : 3;
		grid-row-end : 6;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#Art3 {
		grid-row-start : 3;
		grid-row-end : 6;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	#Art1 {
		grid-row-start: 6;
		grid-row-end: 10;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	#Art5 {
		grid-row-start: 6;
		grid-row-end: 9;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#Art6 {
		grid-row-start: 9;
		grid-row-end: 10;
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	#GridAside {
		display : grid;
		grid-template-columns : 33%;
	}
	
	#GridFig1 {
	   	grid-column-start: 1;
		grid-column-end: 2;
		align-self : center;
	}
	
	#GridFig2 {
		grid-column-start: 2;
		grid-column-end: 3;
		align-self : center;
	}
	
	#GridFig3 {
		grid-column-start: 3;
		grid-column-end: 4;
		align-self : center;
	}
	
	
	#GridPic1, #GridPic2, #GridPic3 {
		width : 100%
	}
	
	#GridFooter1 {
		padding-top : 60px;
		border-top : 1px solid;
	}
	
	#GridFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	/* einde howsolarworks */
	
	#EuLogo {
		width : 20%;
		height : 20%;
	}
	
	.TH2011 {
		display : none;
	}
	
	.TH2011, .TH2013, .TH2015, .TH2017 {
		background-color : #DDDDDD
	}
	
	.TH2012, .TH2014, .TH2016, .TH2018 {
		
	}
	
	.Hcolor {
		background-color : #BEFFFA
	}
	
	#EuAside {
		display : grid;
	}
	
	#EuUL {
		display : grid;
		grid-template-columns : 33%;
		border-bottom : 1px solid;
		padding-bottom : 20px;
	}
	
	#EuLI1 {
		grid-column-start : 1;
		grid-column-end : 2;
	}
	
	#EuLI2 {
		grid-column-start : 2;
		grid-column-end : 3;
	}
	
	#EuLI3 {
		grid-column-start : 3;
		grid-column-end : 4;
	}
	
	#EuPic1, #EuPic2, #EuPic3 {
		width : 70%
	}
	
	#EuSec {
		display : grid;
		grid-template-columns : 50%;
		grid-gap : 50px;
		border-bottom : 1px solid;
	}
	
	.tableizer-table {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#EuAside {
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#EuFooter1 {
		padding-top : 60px;
		
	}
	
	#EuFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    }
	
	/* eind Eusolar */
	
	#ConLogo {
		width : 25%;
		height : 25%;
	}
	
	#ConPic1, #ConPic2, #ConPic3 {
		width : 100%;
		height : auto;
	}
	
	#ConField {
		display : grid;
	}
	
	#Submit {
		margin-top : 15px;
	}
	
	#ConSecAll {
		display : grid;
		grid-template-columns : 50%;
		grid-gap : 35px;
	}
	
	#ConSecField {
		grid-column-start : 1;
		grid-column-end : 2;
	}
	
	#ConAside {
		grid-column-start : 2;
		grid-column-end : 3;
	}
	
	#ConUL {
		display : grid;
		grid-template-columns : 33%;
		border-bottom : 1px solid;
		padding-bottom : 20px;
	}
	
	#ConLI1 {
		grid-column-start : 1;
		grid-column-end : 2;
	}
	
	#ConLI2 {
		grid-column-start : 2;
		grid-column-end : 3;
	}
	
	#ConLI3 {
		grid-column-start : 3;
		grid-column-end : 4;
	}
	
	#ConEmail {
		margin-bottom : 60px;
	}
	
	#ConFooter1 {
		padding-top : 60px;
	}
	
	#ConFooter2{
        position: fixed;
        bottom: -14px;
        right: 0;
        width: 50%;
        height: 10%;
        padding-left: 5px;
        z-index: 9999;
        color: #fff;
        background-color: #FA0;
        opacity: 0.5;
    } 
	
	/* Eind Contact */
}